<div id="main-slider" class="liquid-slider">
    <div>
      <h2 class="title">1</h2>
      <p class="bold">CDSR 2016:</p>
      <p class="body">CDSR 2016 will be held in Ottawa, Canada on May 9 - 10, 2016 at University of Ottawa.</p>

      <p class="bold">CDSR'16 Symposiums:</p>
      <p class="body">The Organizing Committee has selected the following fields for specialized and focused symposiums under the umbrella of CDSR'16:</p>

      <ul>
      <li><a href="../biomr" class="body-link">Biomechatronics and Biorobotics</a></li>
      <li>Intelligent Manufacturing and Automation</li>
      <li>Sensing, Instrumentation, and Measurement</li>
      <li>Linear, Non-Linear, and Adaptive Control</li>
      <li>Mechatronics</li>
      </ul>

      <p class="body">If you are interested of your article to be part of the above-mentioned symposiums, please inform us when submitting your article. Please visit <a href="../symposium" class="body-link">Symposiums</a> for more information.</p>
    </div>
              
    <div>
      <h2 class="title">2</h2>
      <p class="bold">Best Paper Award:</p>
      <p class="body">Two best paper awards will be conferred to author(s) of the papers that receive the highest rank during the peer-review and by the respected session chairs. Please visit <a href="../papers" class="body-link">Paper Submission</a> for more information.</p>
    </div>

  </div>